# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

## Exercícios Cap02

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
list1 = [1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
list2 = ['carro','casa', 'bola', 'agua', 'celular']
list2

['carro', 'casa', 'bola', 'agua', 'celular']

In [20]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
'aline', "brena"

('aline', 'brena')

In [21]:
print ('Aline', 'Brena')

Aline Brena

In [22]:
s = 'aline e Brena'

In [23]:
print (s)

aline e Brena

In [24]:
s + 'irmas'

'aline e Brenairmas'

In [26]:
s + ' irmas'

'aline e Brena irmas'

In [28]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla1 = (1,2,2,3,4,4,4,5)

In [29]:
tupla1

(1, 2, 2, 3, 4, 4, 4, 5)

In [51]:
tupla1.count(4)

3

In [32]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

Dict1 = {}

In [33]:
Dict1

{}

In [34]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dict2 = {"aline":2, "Felipe":1, "diego":3}

In [35]:
dict2

{'aline': 2, 'Felipe': 1, 'diego': 3}

In [54]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict2['xoxo'] = 1
print(dict2)

{'aline': 2, 'Felipe': 1, 'diego': 3, 'xoxo': 1}

AttributeError: 'dict' object has no attribute 'uptade'

In [46]:
dict4

{'aline': 250, 'brena': [12, 25, 13, 23], 'joka': 23}

In [44]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dict4 = {'aline': 250, "brena": [12,25,13,23], 'joka':23}

In [47]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

list1 = ['aline', (23,25), {'x':1, 'b':3}, 5.2]

In [48]:
list1

['aline', (23, 25), {'x': 1, 'b': 3}, 5.2]

In [49]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase

'Cientista de Dados é o profissional mais sexy do século XXI'

# Fim

In [55]:
frase[0:18]

'Cientista de Dados'

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>