## Tuplas

In [1]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes")

In [2]:
# Imprimindo a tupla
Tupla1

NameError: name 'Tupla1' is not defined

In [3]:
tupla1

('Geografia', 23, 'Elefantes')

In [4]:
# Tuplas não suportam append()
tupla1.append("chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
# Tuplas não suportam delete de um item específico
del tupla1['gatos']

TypeError: 'tuple' object does not support item deletion

In [6]:
# Tuplas podem ter somente um item
tupla1 = ('chocolate')

In [7]:
tupla1

'chocolate'

In [8]:
tupla1 = ('Geografia', 23, 'elefantes')

In [9]:
tupla1[0]

'Geografia'

In [10]:
# verificando o comprimento da tupla
len(tupla1)

3

In [11]:
# slicing, do mesmo jeito que se faz em listas
tupla1[1:]

(23, 'elefantes')

In [12]:
tupla1.index('elefantes')

2

In [13]:
# Tuplas não suportam atribuição de itens
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [14]:
# Deletando a tupla
del tupla1

In [15]:
tupla1

NameError: name 'tupla1' is not defined

In [16]:
# Criando uma tupla
t2 = ('A', 'B','C')

In [17]:
t2

('A', 'B', 'C')

In [18]:
# tuplas não suportam atibuição de itens
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [19]:
# Usando a função list() para converter uma tupla em lista
lista_t2 = list(t2)

In [20]:
lista_t2

['A', 'B', 'C']

In [21]:
lista_t2.append('D')

In [22]:
# Usando a função tuple() para converter lista em tupla
t2 = tuple(lista_t2)

In [23]:
t2

('A', 'B', 'C', 'D')